{% load static %}
{% block header %}
    {% include "header.html" with page="BLOG PAGE" %}
{% endblock %}

{% block content %}
    <div class="container m-3">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4">
                <div class="card m-2">
                    <img src="{% static 'images/in-road.jpg' %} " alt="" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                        <h1> Lorem ipsum dolor sit amet.</h1>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Ipsum doloribus esse enim qui voluptatibus harum earum optio.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <a href="#" class="btn btn-primary ">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}