{% block header %}
    {% include "header.html" with page="CONTACT US" %}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Uzuza iyi form niba hari icyo ushaka kutubwira</h2>
        <form action="" method="POST" class="mt-4">
            <div class="form-group">
                <label for="code">Amazina yawe yombi</label>
                <input type="text" name="" id="" class="form-control" required>
                <small class="text-muted fst-italic">Urugero: Habumugisha Fiston</small>
            </div>
            <div class="form-group mt-3">
                <label for="numero ya telephne">Numero ya telephone</label>
                <input type="text" name="" id="" class="form-control" required>
                <small class="text-muted fst-italic">Urugero: 0786 803 121 | 0729 014 388</small>
            </div>
            <div class="form-group mt-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="" id="">
                <small class="text-muted fst-italic">Urugero: Andika email niba uyifite</small>
            </div>
            <div class="form-group mt-3">
                <label for="igitekerezo">Igitekerezo cyangwa ikibazo ufite</label>
                <textarea name="" id="" class="form-control"></textarea>
            </div>
            <div class="d-flex justify-content-end mb-3 mt-3">
                <button type="submit" class="btn btn-primary">Uhoreza</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}