{% include "nav.html" %}

<nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LEARN TO DRIVE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" 
                    aria-label="Close">
                </button>
            </div>
            <div class="offcanvas-body">
                <p class="text-danger">You can not leave this page</p>
            </div>
        </div>
    </div>
</nav>
{% block content %}
    <div class="container d-flex align-items-center justify-content-center flex-column mt-5">
        <section class="mt-5">
            <h1 class="card text-center">
                TESTING KNOWLEDGE
            </h1>
            <small class="text-muted">I'll have hidden input for question id to be used to check if answer is correct</small>
        </section>
        <form action="{% url 'core_app:next_question' %}" id="exam-form" class="w-500" method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="form-control">
                    <input type="hidden" name="question_id" id="" readonly disabled>
                    <p>{{index}}. {{question.question}}</p>
                    {% for option in options %}
                        {% if option == crt %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="" value="{{option}}" checked>
                                <label for="" class="form-check-label">{{option}}</label>                    
                            </div>
                        {% else %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="" value="{{option}}" >
                                <label for="" class="form-check-label">{{option}}</label>                    
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mt-2 mb-2 pt-2 pb-2 px-5">Next</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}