<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../statics/styles/style.css">
    <title>Homepage</title>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center flex-column">
        <section class="mt-5">
            <h1 class="card text-center">
                TESTING KNOWLEDGE
            </h1>
            <small class="text-muted">I'll have hidden input for question id to be used to check if answer is correct</small>
        </section>
        <form action="" id="exam-form" class="w-500">
            <div class="container">
                <div class="form-control">
                    <input type="hidden" name="question_id" id="" readonly disabled>
                    <p>Question 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Fugiat deserunt rerum tempore magni aut consequuntur dicta dignissimos assumenda nam culpa!
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_one" id="" value="option 1" >
                        <label for="" class="form-check-label">Option 1</label>                    
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_one" id="" value="option 2">
                        <label for="" class="form-check-label">Option 2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_one" id="" value="option 3">
                        <label for="" class="form-check-label">Option 3</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_one" id="" value="option 4">
                        <label for="" class="form-check-label">Option 4</label>
                    </div>
                </div>
                <div class="form-control mt-2 mb-2">
                    <p>Question 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Fugiat deserunt rerum tempore magni aut consequuntur dicta dignissimos assumenda nam culpa!
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_two" id="" value="option 1" >
                        <label for="" class="form-check-label">Option 1</label>                    
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_two" id="" value="option 2">
                        <label for="" class="form-check-label">Option 2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_two" id="" value="option 3">
                        <label for="" class="form-check-label">Option 3</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_two" id="" value="option 4">
                        <label for="" class="form-check-label">Option 4</label>
                    </div>
                </div>
                <div class="form-control mt-2 mb-2">
                    <p>Question 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Fugiat deserunt rerum tempore magni aut consequuntur dicta dignissimos assumenda nam culpa!
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_three" id="" value="option 1" >
                        <label for="" class="form-check-label">Option 1</label>                    
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_three" id="" value="option 2">
                        <label for="" class="form-check-label">Option 2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_three" id="" value="option 3">
                        <label for="" class="form-check-label">Option 3</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_three" id="" value="option 4">
                        <label for="" class="form-check-label">Option 4</label>
                    </div>
                </div>
                <div class="form-control mt-2 mb-2">
                    <p>Question 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Fugiat deserunt rerum tempore magni aut consequuntur dicta dignissimos assumenda nam culpa!
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_four" id="" value="option 1" >
                        <label for="" class="form-check-label">Option 1</label>                    
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_four" id="" value="option 2">
                        <label for="" class="form-check-label">Option 2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_four" id="" value="option 3">
                        <label for="" class="form-check-label">Option 3</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_four" id="" value="option 4">
                        <label for="" class="form-check-label">Option 4</label>
                    </div>
                </div>
                <div class="form-control mt-2 mb-2">
                    <p>Question 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Fugiat deserunt rerum tempore magni aut consequuntur dicta dignissimos assumenda nam culpa!
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_five" id="" value="option 1" >
                        <label for="" class="form-check-label">Option 1</label>                    
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_five" id="" value="option 2">
                        <label for="" class="form-check-label">Option 2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_five" id="" value="option 3">
                        <label for="" class="form-check-label">Option 3</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option_five" id="" value="option 4">
                        <label for="" class="form-check-label">Option 4</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2 mb-2 pt-2 pb-2 px-5">Next</button>
            </div>
        </form>
    </div>
    <footer class="container-fluid bg-success p-4">
        <div class="row">
            <div class="footer-address col-4">
                <h1 class="text-lowercase">LOGO</h1>
                <p class="text-capitalize">rwanda</p>
                <p class="text-capitalize">northen  rwanda</p>
                <p class="text-capitalize">musanze, down town</p>
            </div>
            <div class="footer-quick-links col-4 mt-4">
                <ul>
                    <li><a href="" class="link-light">Home</a></li>
                    <li><a href="" class="link-light">Amasomo</a></li>
                    <li><a href="" class="link-light">Blog</a></li>
                    <li><a href="" class="link-light">About Us</a></li>
                </ul>
            </div>
            <div class="footer-social-links col-4 mt-4">
                <h4 class="text-capitalize text-center" style="color: white;">social media links</h4>
                <ul class="d-flex flex-row justify-content-around">
                    <li><a href="" class="fa fa-whatsapp"></a></li>
                    <li><a href="" class="fa fa-facebook"></a></li>
                    <li><a href="" class="fa fa-twitter"></a></li>
                </ul>
            </div>
        </div>
    </footer>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
        crossorigin="anonymous"
    >
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>