{% block footer %}
    <footer class="container-fluid bg-success p-4">
        <div class="row">
            <div class="footer-address col-4">
                <h1 class="text-lowercase">LOGO</h1>
                <p class="text-capitalize">rwanda</p>
                <p class="text-capitalize">northen  rwanda</p>
                <p class="text-capitalize">musanze, down town</p>
            </div>
            <div class="footer-quick-links col-4 mt-4">
                <ul>
                    <li><a href="" class="link-light">Home</a></li>
                    <li><a href="" class="link-light">Amasomo</a></li>
                    <li><a href="" class="link-light">Blog</a></li>
                    <li><a href="" class="link-light">About Us</a></li>
                </ul>
            </div>
            <div class="footer-social-links col-4 mt-4">
                <h4 class="text-capitalize text-center" style="color: white;">social media links</h4>
                <ul class="d-flex flex-row justify-content-around">
                    <li><a href="" class="fa fa-whatsapp"></a></li>
                    <li><a href="" class="fa fa-facebook"></a></li>
                    <li><a href="" class="fa fa-twitter"></a></li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}