{% extends "base.html" %}
{% load static %}
{% block header %}
    <header class="position-relative">
        <img src="{% static 'images/home-header.jpg' %}" alt="header image" class="header-image">
            <nav class="navbar bg-light fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">LOGO</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" 
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LEARN TO DRIVE</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" 
                                aria-label="Close">
                            </button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item pb-3">
                                    <abbr title="Get to the homepage">
                                        <a href="{% url 'core_app:home' %}" class="nav-link active" aria-current="true">Home</a>
                                    </abbr>
                                </li>
                                <li class="nav-item pb-3">
                                    <abbr title="Go to the payment page">
                                        <a href="{% url 'core_app:payment' %}">Payment</a>
                                    </abbr>
                                </li>
                                <li class="nav-item pb-3">
                                    <abbr title="Go to Blog page">
                                        <a href="{% url 'core_app:blog' %}">Blog</a>
                                    </abbr>
                                </li>
                                <li class="nav-item pb-3">
                                    <abbr title="Get in touch with us">
                                        <a href="{% url 'core_app:contact_us' %}">Contact Us</a>
                                    </abbr>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        <div class="p-3 text-center position-absolute top-50 start-50 translate-middle mt-4 bg-success">
            <p class="text-light fs-6 fw-lighter fst-italic">
                It's no longer a dream, you can get your driving licence today.
            </p>
            <h1 class="text-warning fw-bold">{{page}}</h1>
        </div>
    </header>
{% endblock %}