{% load static %}

{% block header %}
    {% include "header.html" with page="LEARN TO DRIVE WITH CONFIDENCE"%}
{% endblock %}

{% block content %}
    <section class="container-fluid mt-5">
        <div class="hero-left mt-5">
            <h1 class="card text-center" style="margin-left: 30px;">
                DRIVING SCHOOL
            </h1>
        </div>
        <div class="hero-righttext-center">
           <div class="border-bottom p-4 pt-0 pb-0 mb-5">
                <h3 class="text-uppercase">Tugutegura gukora ibizamini</h3>
                <p class="text-muted">
                    Uru rubuga rufite imyitozo itandukanye igufasha kwitegura ibizamini bikenerwa nk'uruhushya 
                    rw'agateganyo rwo gutwara.
                </p>
                <button class="fa fa-play btn btn-outline-primary mb-2">Reba uko biba bimeze</button>
            </div>
            <div class="border-bottom p-4 pt-0 mb-2">
                <h3 class="text-uppercase">Ibiciro biboneye</h3>
                <p class="text-muted">Uhitamo amasomo n'imyitozo ihwanye n'amafaranga wifuza gutanga, kandi ukanyurwa.</p>
                <button class="fa fa-play btn btn-outline-primary mb-2" data-toggle="modal" data-target="#askCodeModal">Reba ibiciro</button>
           </div>
           <div class="border-bottom p-4 pt-0 mb-2 d-flex flex-column flex-wrap justify-content-center align-items-center">
                <div>
                    <p>Hitamo uko winjira</p>
                </div>
                <div>
                    <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#withCodeModal">INJIRA NA KODE</button>
                    <button class="btn btn-primary m-2" data-toggle="modal" data-target="#askCodeModal">SABA KODE</button>
                </div>
           </div>
        </div>
    </section>

    <div class="blog-title">
        <h1 class="text-center">VISIT OUR BLOG</h1>
    </div>
    <section class="blog-items row">
        <div class="col-6">
            <div class="card p-4 m-1">
                <img src="{% static 'images/in-road.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Ni gute ukoresha side mirror</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, ipsum.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card p-4 m-1">
                <img src="{% static 'images/side-mirror.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ni gute badepasa</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, ipsum.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}